@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* fonts */
  --font-body-primary: "Poppins", sans-serif;

  /* color pallete */
  --color-branding-primary: #830c11;
  --color-contact-background: #f5f5f5;
  --color-body-primary: #fff;
  --color-text-primary: #121212;
}

* {
  box-sizing: border-box;
}

/* EADC SECTION STAR */
/* .eadc-section {
  overflow-x: hidden;
} */

.title-section img {
  width: 210px;
  height: auto;
  aspect-ratio: 20/9;
}

/* .banner-eadc {
  padding: 100px 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../asset/banner-eadc.png);
  background-size: cover;
} */

/* .banner-eadc .row {
  margin-right: 0;
  margin-left: 0;
} */

/* .banner-eadc .logo-img p {
  color: var(--color-body-primary);
  font-size: 22px;
  margin-top: 10px;
} */

.breadchrumb p {
  font-weight: 700;
  font-family: var(--font-body-primary);
}

.breadchrumb p:nth-child(1) {
  color: var(--color-text-primary);
}

.breadchrumb p:nth-child(3) {
  color: var(--color-branding-primary);
}

.text-title-header span {
  background-color: #830c11;
  color: var(--color-body-primary);
  padding: 15px;
  font-size: 16px;
}

.kolom-card-banner h5,
.kolom-card-banner p {
  font-family: var(--font-body-primary);
}

.kolom-card-banner h5 {
  font-size: 16px;
}

.kolom-card-banner p {
  font-size: 14px;
}

/* .wrapper-filter {
  position: relative;
} */

.active {
  margin-top: 10px !important;
}

.filter-column {
  background-color: #fff6f6;
  box-sizing: border-box;
}

.kolom-card-banner .filter-text,
.kolom-card-banner .filter-title-text {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.filter-text p:nth-child(1) span {
  color: var(--color-branding-primary);
}

.filter-text p:nth-child(1) {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.filter-text p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

/* EADC SECTION END */

/* breakpoint star */

@media (min-width: 992px) and (max-width: 1300px) {
  .text-title-header span {
    font-size: 20px;
  }
}

/* breakpoint end */
